<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->

<!--    <title>Find student</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="jumbotron text-center bg-light">-->

<!--    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">-->

<!--        &lt;!&ndash; Links &ndash;&gt;-->
<!--        <ul class="navbar-nav active">-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" th:href="@{/}">Add new student</a>-->
<!--            </li>-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" th:href="@{/allStudents}">List of all students</a>-->
<!--            </li>-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" th:href="@{/removeStudent}">Remove student</a>-->
<!--            </li>-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" th:href="@{/removeAllStudents}">Remove all students</a>-->
<!--            </li>-->
<!--        </ul>-->

<!--    </nav>-->

<!--    <h4>Find student:</h4>-->

<!--</div>-->

<!--<div class="container bg-light">-->
<!--    <div class="table-responsive text-center">-->
<!--    <table class="table table-dark" id="studentsTable">-->
<!--        <thead>-->
<!--        <tr >-->
<!--            <th> Id </th>-->
<!--            <th> Student </th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="student,iter : ${students.iterator()}">-->
<!--            <td th:text="${student.getId()}"> Id</td>-->
<!--            <td th:text="${student.getName()}"> Name </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    </div>-->


<!--    <div class="container bg-light text-center">-->
<!--        <form action="#" method="post">-->
<!--            <p><input class="btn btn-dark" type="submit" value="Find student" /> <input class="btn btn-dark" type="reset" value="Clear form" /></p>-->
<!--        </form>-->
<!--    </div>-->

<!--</div>-->


<!--<script>-->
<!--    // document.getElementById("demo").innerHTML = "Hello JavaScript!";-->
<!--    var table = document.getElementById('studentsTable');-->
<!--    var cells = table.getElementsByTagName('td');-->
<!--    for (var i = 0; i < cells.length; i++) {-->
<!--        // Take each cell-->
<!--        var cell = cells[i];-->
<!--        // do something on onclick event for cell-->
<!--        cell.onclick = function () {-->
<!--            // Get the row id where the cell exists-->
<!--            var rowId = this.parentNode.rowIndex;-->
<!--            var rowsNotSelected = table.getElementsByTagName("tr");-->
<!--            for (var row = 0; row < rowsNotSelected.length; row++) {-->
<!--                rowsNotSelected[row].style.backgroundColor = "";-->
<!--                rowsNotSelected[row].classList.remove('selected');-->
<!--            }-->
<!--            var rowSelected = table.getElementsByTagName("tr")[rowId];-->
<!--            // rowSelected.style.backgroundColor = "yellow";-->
<!--            // rowSelected.className += " selected";-->


<!--            window.location.href = window.location.href+"/getStudent?Id="+rowSelected.cells[0].innerHTML;-->

<!--            //-->
<!--            // msg = 'The ID of the company is: ' + rowSelected.cells[0].innerHTML;-->
<!--            // msg += '\nThe cell value is: ' + this.innerHTML;-->
<!--            // alert(msg);-->
<!--        }-->
<!--    }-->
<!--</script>-->

<!--</body>-->
<!--</html>-->