<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->

<!--    <title>Remove student</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="jumbotron text-center bg-light">-->

<!--    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">-->

<!--        &lt;!&ndash; Links &ndash;&gt;-->
<!--        <ul class="navbar-nav active">-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" th:href="@{/}">Add new student</a>-->
<!--            </li>-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" th:href="@{/allStudents}">List of all students</a>-->
<!--            </li>-->
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" th:href="@{/removeAllStudents}">Remove all students</a>-->
<!--            </li>-->
<!--        </ul>-->

<!--    </nav>-->

<!--    <h4>Remove student:</h4>-->

<!--</div>-->

<!--<div class="container bg-light">-->

<!--    &lt;!&ndash;Gdzie ma zostać przekierowany użytkownik&ndash;&gt;-->
<!--    <form action="#" method="post">-->
<!--        <div class="form-group">-->
<!--            <p>Id number: <input class="form-control" type="number" min="0"/></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <p>Name: <input class="form-control" type="text"/></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <p>Phone: <input class="form-control" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" placeholder="000-000-000"/></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <p>Email: <input class="form-control" type="email" placeholder="example@example.com"/></p>-->
<!--        </div>-->
<!--        <p><input class="btn btn-dark" type="submit" value="Remove student" /> <input class="btn btn-dark" type="reset" value="Clear form" /></p>-->
<!--    </form>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->