<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{/MainViewCss.css}" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Student view</title>
</head>
<body>
<div class="jumbotron text-center bg-light">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">

        <!-- Links -->
        <ul class="navbar-nav active">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Add new student</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/allStudents}">List of all students</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/removeAllStudents}">Remove all students</a>
            </li>
        </ul>

    </nav>

    <h4>Find student:</h4>

</div>

<div class="container bg-light">
    <div class="table-responsive text-center">
    <table class="table table-dark" id="studentsTable">
        <thead>
        <tr >
            <th> Id </th>
            <th> Student </th>
            <th> Phone </th>
            <th> Email </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${student.get().getId()}"> Id </td>
            <td th:text="${student.get().getName()}"> Name </td>
            <td th:text="${student.get().getPhone()}"> Phone </td>
            <td th:text="${student.get().getEmail()}"> Email </td>
        </tr>
        </tbody>
    </table>
    </div>


    <div class="container">
        <form action="#" method="post">
            <p><input class="btn btn-dark" type="submit" name="redirect" value="Go back" /> <input class="btn btn-dark" name="delete" type="submit" value="Delete student"/></p>
        </form>
    </div>

</div>

</body>
</html>