<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{/MainViewCss.css}" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Add student</title>
</head>
<body>

<div class="jumbotron text-center bg-light">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">

        <!-- Links -->
        <ul class="navbar-nav active">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Add new student</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/allStudents}">List of all students</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/removeAllStudents}">Remove all students</a>
            </li>
        </ul>

    </nav>

    <h4>Student sucesfully deleted !</h4>

</div>

</body>
</html>